@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
html,
div {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    position: relative;
}

body {
    font-size: 14px;
    background: #161a24;
    color: #fefefe;

    ::selection {
        background: rgb(105, 120, 206);
        color: #fff;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &#main {
        margin-top: 50px; // lungimea header-ului
    }
}

.padding-margin {
    margin: 0;
    padding-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @extend .padding-margin;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color:#7489bd;
    padding:0px 3px;
}

.sectiune {
    width: 100%;
    min-width: 100%;
    margin-bottom: 30px;
    background: rgba(68, 132, 236, 0.1);
    padding:10px;
    box-sizing: border-box;
}

table {
    width: 50%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid black;
        padding: 10px;
    }

    th,
    tr:nth-child(odd) {
        background: rgba(68, 132, 236, 0.1);
    }

    tr:nth-child(even) {
        background: rgba(68, 132, 236, 0.3);
    }
}

.huge-title {
    font-size: 45px;
    text-align: left;
    margin: 10px 0;
    animation: moveAnimation 1s;
    line-height:40px;
    @media (max-width: 768px) {
        box-sizing: border-box;
        padding:5px 0px;
        font-size: 30px;
        line-height:30px;
        margin:4px 0px;
    }
}

.page-title {
    animation: moveDown .4s;
    margin-top: 70px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        box-sizing: border-box;
        padding:5px 10px;
        padding-top:20px;
    }
}

.container {
    @media (max-width: 1200px) {
        max-width: 960px;
    }

    @media (max-width: 992px) {
        max-width: 720px;
        padding: 0px;
    }

    @media (max-width: 768px) {
        max-width: 540px;
    }

    @media (max-width: 576px) {
        max-width: 100%;
    }
}

table {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.buton-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(70, 70, 70, 0.7);
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 100;
  
  &.vizibil {
    opacity: 1;
    transform: translateY(0);
  }
  
  &:hover {
    background-color: rgba(255, 103, 103, 0.7);
  }
}