header.mainHeader {
    background: rgba(29, 34, 46, 0.7);
    backdrop-filter: blur(100px);
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    box-sizing: border-box;

    ::selection {
        background-color: transparent;
    }

    #mainNav {
        &.open {
            display: block;
            width: 100%;
            text-align: left;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        min-width: 180px;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 900;
        cursor: pointer;

        @media (max-width: 768px) {
            box-sizing: border-box;
            padding-left: 10px;
            margin-bottom: 0px !important;
        }

        &:hover {
            #dot {
                color: #f00;
            }
        }

        #dot {
            font-size: 34px;
            color: #a00;
            line-height: 14px;
        }
    }

    #hamburger {
        position: fixed;
        top: 14px;
        right: 10px;
        width: 34px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 0.1s;
        margin-right: 10px;

        @media (min-width: 768px) {
            display: none;
        }

        .line {
            width: 100%;
            height: 5px;
            background-color: rgba(255, 255, 255, .8);
            transition: all 0.1s;
            border-radius: 1px;
        }

        &.open {
            transform: rotate(180deg);

            .line:nth-child(1) {
                transform: translateY(calc(50% + 21px/2)) rotate(45deg);
            }

            .line:nth-child(2) {
                opacity: 0;
            }

            .line:nth-child(3) {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }

    nav {
        text-align: right;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            opacity: 0.8;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            margin-left: 30px;
            padding: 3px;
            transition: opacity 0.2s;
            font-size: 1.3em;

            &:hover {
                opacity: 1;
            }
        }
    }


    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        #logo {
            margin-bottom: 15px;
        }

        nav {
            width: 100%;
            text-align: center;

            a {
                margin-left: 10px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }

    @media(max-width: 480px) {
        nav a {
            font-size: 1em;
        }
    }
}